.site-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-name {
    margin: 0;
}

.feed-select {
    /* absolute makes nav not take up space in the flex header */
    position: absolute;
    /* left 50% puts start of nav right at center */
    left: 50%;
    /* transform -50% slides nav half way to the left, making list truly center */
    transform: translateX(-50%);
}

.header-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.profile {
    margin-left: auto;
}
