.side-nav {
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}

.side-nav-left {
    left: 2rem;
}

.side-nav-right {
    right: 2rem;
}
