.side-nav {
    list-style: none;
    position: sticky;
    top: 50vh;
    transform: translateY(-50%);
    align-self: start;
    margin: 0;
    padding: 0;
}

.side-nav-left {
    justify-self: start;
}

.side-nav-right {
    justify-self: end;
}

.side-nav li {
    margin-bottom: 1rem;
}